.first-color {
  background: #247291;
}

.second-color {
  background: #f8da5b;
}

.third-color {
  background: #eef2e2;
}

.fourth-color {
  background: #f5f9ee;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-repeat: no-repeat;
  background: linear-gradient(
    110.2deg,
    rgb(54, 197, 240) 8.2%,
    rgb(74, 21, 75) 92.4%
  );
  font-family: "Nunito", sans-serif;
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
  margin: 80px auto;
  padding: 30px;
  max-width: 700px;
  min-width: 502px;
  border-radius: 20px;
  border: none;
  box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.3);
}

header {
  padding: 20px 0;
}

#city-search,
#city-submit {
  font-size: 18px;
  line-height: 25px;
  border-radius: 5px;
}

#city-search {
  width: 60%;
  padding: 10px 20px;
  margin-right: 5px;
  border: none;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

#city-submit {
  background-color: #f8da5b;
  color: white;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
  letter-spacing: 0.4px;
  padding: 10px 20px;
  border: none;
  transition: all 200ms ease-in-out;
  font-weight: 800;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

#city-submit:hover {
  background-color: white;
  color: #f8da5b;
  border: solid 2px #f8da5b;
  cursor: pointer;
  text-shadow: none;
}

footer {
  padding: 20px;
  text-align: center;
  font-size: 18px;
  color: rgb(17, 52, 75);
}

footer a {
  font-weight: 500;
  color: #247291;
}

.divider {
  border: solid 3px rgba(37, 111, 160, 0.5);
}

.main-city-info {
  padding: 10px 40px;
}

.city {
  text-align: left;
  font-size: 50px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 0;
  color: rgba(37, 111, 160, 1);
  text-shadow: 0px 0px 4px rgba(249, 249, 249, 0.8);
}

.city-details p {
  color: rgba(37, 111, 160, 1);
  text-align: left;
  font-size: 18px;
  margin-top: 0;
  font-weight: 500;
}

.main-temp {
  font-size: 60px;
  font-weight: 700;
  color: rgba(37, 111, 160, 1);
  text-shadow: 0px 0px 4px rgba(249, 249, 249, 0.8);
  text-align: right;
  position: relative;
  bottom: 135px;
  right: 0;
}

.humidity-percent,
.wind-kms {
  font-weight: 800;
  color: #ad8f07;
  text-shadow: 0px 0px 2px rgba(249, 249, 249, 0.8);
}
