html {
  height: 100%;
}

body {
  margin: 0;
  background-repeat: no-repeat;
  background: linear-gradient(
    110.2deg,
    rgba(54, 197, 240, 0.8) 8.2%,
    rgba(74, 21, 75, 0.8) 92.4%
  );
  font-family: "Nunito", sans-serif;
}

.container {
  background-color: rgb(247, 246, 255);
  display: block;
  margin: 80px auto;
  padding: 30px;
  max-width: 600px;
  min-width: 502px;
  border-radius: 20px;
  border: none;
  box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.3);
}

header {
  padding: 20px 0;
}

#city-search,
#city-submit {
  font-size: 15px;
  line-height: 25px;
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  border: solid 1px #4d72a1;
}

#city-search {
  width: 70%;
  padding: 10px 20px;
  margin-right: 5px;
  background: rgba(255, 255, 255, 0.8);
}

#city-submit {
  background-color: #38c4ee;
  color: white;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
  letter-spacing: 0.8px;
  padding: 10px 20px;
  transition: all 200ms ease-in-out;
  font-weight: 600;
}

#city-submit:hover {
  background-color: white;
  color: #38c4ee;
  border: solid 1px #38c4ee;
  cursor: pointer;
  text-shadow: none;
}

footer {
  padding: 20px 10px;
  text-align: center;
  font-size: 13px;
  color: #4b2b5f;
  font-style: italic;
}

footer a {
  font-weight: 500;
  color: #38c4ee;
  text-shadow: 0.2px 0.2px 0px rgba(0, 0, 0, 0.8);
}

.divider {
  border: solid 3px rgba(56, 196, 238, 0.5);
}

.selected-city {
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  text-shadow: 0px 0px 4px rgba(249, 249, 249, 0.8);
  color: #4c2b5f;
  font-weight: 600;
}

.main-city {
  font-size: 55px;
  margin-top: 10px;
  margin-bottom: 0;
}

.main-city-details p {
  color: #4b2b5f;
  font-size: 16px;
  margin-top: 0;
  margin-left: 3px;
  font-weight: 400;
}

.main-temp {
  display: flex;
}

.main-weather-icon {
  width: 100px;
  height: 100px;
}

.main-weather-degrees {
  font-size: 80px;
}

.main-weather-unit {
  font-size: 30px;
  position: relative;
  top: 14px;
}

.humidity-percent,
.wind-kms {
  font-weight: 800;
  color: #4b2b5f;
}

.weather-forecast {
  text-align: center;
  color: #4c2b5f;
  font-weight: 700;
  padding: 20px;
  background-color: rgba(54, 195, 237, 0.1);
  border-radius: 20px;
}

.day {
  font-size: 18px;
  color: #4c2b5f;
  opacity: 0.7;
}

.weather-forecast-icon {
  width: 70px;
  height: 70px;
  display: block;
  margin: 0 auto;
}

.weather-temperatures-high {
  font-size: 16px;
}

.weather-temperatures-low {
  font-size: 15px;
  opacity: 0.7;
}
