.first-color {
  background: #247291;
}

.second-color {
  background: #f8da5b;
}

.third-color {
  background: #eef2e2;
}

.fourth-color {
  background: #f5f9ee;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-repeat: no-repeat;
  background: linear-gradient(
    110.2deg,
    rgb(54, 197, 240) 8.2%,
    rgb(74, 21, 75) 92.4%
  );
  font-family: "Nunito", sans-serif;
}

.container {
  background-color: rgba(255, 255, 255, 1);
  display: block;
  margin: 80px auto;
  padding: 30px;
  max-width: 700px;
  min-width: 502px;
  border-radius: 20px;
  border: none;
  box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.3);
}

header {
  padding: 20px 0;
}

#city-search,
#city-submit {
  font-size: 15px;
  line-height: 25px;
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  border: solid 1px #4d72a1;
}

#city-search {
  width: 60%;
  padding: 15px 20px;
  margin-right: 5px;
  background: rgba(255, 255, 255, 0.8);
}

#city-submit {
  background-color: #4d72a1;
  color: white;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
  letter-spacing: 0.8px;
  padding: 15px 20px;
  transition: all 200ms ease-in-out;
  font-weight: 600;
}

#city-submit:hover {
  background-color: white;
  color: #4d72a1;
  border: solid 1px #4d72a1;
  cursor: pointer;
  text-shadow: none;
}

footer {
  padding: 20px;
  text-align: center;
  font-size: 18px;
  color: #4c2b5f;
}

footer a {
  font-weight: 500;
  color: #4c2b5f;
}

.divider {
  border: solid 3px rgba(37, 111, 160, 0.5);
}

.selected-city {
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  text-shadow: 0px 0px 4px rgba(249, 249, 249, 0.8);
  color: #4c2b5f;
  font-weight: 700;
}

.main-city {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 0;
}

.main-city-details p {
  color: rgba(37, 111, 160, 1);
  font-size: 18px;
  margin-top: 0;
  margin-left: 3px;
  font-weight: 500;
}

.main-temp {
  display: flex;
}

.main-weather-icon {
  width: 100;
  height: 100px;
}

.main-weather-degrees {
  font-size: 80px;
}

.main-weather-unit {
  font-size: 35px;
  position: relative;
  top: 14px;
}

.humidity-percent,
.wind-kms {
  font-weight: 800;
  color: #4c2b5f;
  text-shadow: 0px 0px 2px rgba(249, 249, 249, 0.8);
}
